<form class="flexcol {{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
      <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
      <div class="header-fields flexcol">
        <!-- Basic header details -->
        <div class="flexrow">
          <!-- Name -->
          <h1 class="charname">
              <input type="text" placeholder="{{ localize "SWN.name" }}" name="name" value="{{data.name}}"/>
          </h1>
          
          <div class="flexrow headerInput">
            <!-- HP and Move -->
            <div class="flexcol headerInputPrimary">
              <div class="flexrow">
                <div class="headerInputName">
                  {{ localize "SWN.hp" }}
                </div>
                <input type="number" placeholder="{{ localize "SWN.TotalHP" }}" name="data.health.value" value="{{actorData.health.value}}"/>
                <div class="headerInputName">/</div>
                <input type="number" placeholder="{{ localize "SWN.MaxHP" }}" name="data.health.max" value="{{actorData.health.max}}"/>
              </div>
              
              <div class="flexrow">
                <div class="headerInputName">
                  {{ localize "SWN.move" }}
                </div>
                <input type="text" placeholder="{{ localize "SWN.move" }}" name="data.move" value="{{actorData.move}}"/>
              </div>
            </div>
            
            <!-- Hitdice and Morale -->
            <div class="flexcol headerInputSecondary">
              <div class="flexrow">
                <div class="headerInputName">
                  {{ localize "SWN.hitdice" }}
                </div>
                <input type="number" name="data.hitdie" value="{{actorData.hitdice}}"/>
              </div>
              <div class="flexrow">
                <div class="headerInputName">
                  {{ localize "SWN.morale" }}
                </div>
                <input type="number" name="data.morale" value="{{actorData.morale}}"/>
              </div>
            </div>
          </div>
        </div>
        <!-- Saving throws -->
        <div class="flexrow">
          <div class="saves-list flexrow">
            <button class="save" id="physical" type="button">{{ localize "SWN.Save.physical" }}</button>
            <button class="save" id="evasion" type="button">{{ localize "SWN.Save.evasion" }}</button>
            <button class="save" id="mental" type="button">{{ localize "SWN.Save.mental" }}</button>
            {{#if (getSetting "techSavesEnabled")}}
              <button class="save" id="tech" type="button">{{ localize "SWN.Save.tech" }}</button>
            {{/if}}
            {{#if (getSetting "luckSavesEnabled")}}
              <button class="save" id="luck" type="button">{{ localize "SWN.Save.luck" }}</button>
            {{/if}}
          </div>
        </div>
      </div>
    </header>
    
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="bio">{{ localize "SWN.Tabs.bio" }}</a>
      <a class="item" data-tab="notes">{{ localize "SWN.Tabs.notes" }}</a>
      <a class="item" data-tab="equipment">{{ localize "SWN.Tabs.equipment" }}</a>
      <a class="item" data-tab="skills">{{ localize "SWN.Tabs.skills" }}</a>
      <a class="item" data-tab="foci">{{ localize "SWN.Tabs.foci" }}</a>
      {{#if actorData.psionics.enabled}}
        <a class="item" data-tab="psionics">{{ localize "SWN.Tabs.psionics" }}</a>
      {{/if}}
      <a class="item" data-tab="settings">{{ localize "SWN.Tabs.settings" }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <hr/>
      {{!-- Biography Tab --}}
      {{> "systems/swn/templates/npc-parts/npc-bio.hbs" bio=actorData.bio}}
      {{!-- Notes Tab --}}
      {{> "systems/swn/templates/npc-parts/npc-notes.hbs" notes=actorData.notes}}
      {{!-- Equipment Tab --}}
      {{> "systems/swn/templates/npc-parts/npc-equipment.hbs" items=data.items}}
      {{!-- Skills Tab --}}
      {{> "systems/swn/templates/npc-parts/npc-skills.hbs" skills=actorData.skills psionics=actorData.psionics}}
      {{!-- Foci Tab --}}
      {{> "systems/swn/templates/npc-parts/npc-foci.hbs" foci=data.foci}}
      {{!-- Psionics Tab --}}
      {{#if actorData.psionics.enabled}}
        {{> "systems/swn/templates/npc-parts/npc-psionics.hbs" psionics=data.psionics}}
      {{/if}}
      {{!-- Settings Tab --}}
      {{> "systems/swn/templates/npc-parts/npc-settings.hbs" settings=actorData.settings skills=actorData.skills}}
    </section>
</form>
